@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos opcionais e seguros */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  min-width: 320px;
  min-height: 100vh;
  
}
